@model ChangePasswordViewModel
@{
    
    ViewBag.Title = "Change Password";
}

    <div class="container">
        <div class="text-center">
            <h2>Change Password</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <div class="input-group">
                            <input asp-for="CurrentPassword" class="form-control" type="password" onpaste="return false"/>
                            <div class="input-group-append">
                                <span id="CurrentPasswordHider" class="input-group-text" onclick="showPass('CurrentPassword')">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <div class="input-group">
                            <input asp-for="NewPassword" class="form-control" type="password" />
                            <div class="input-group-append">
                                <span id="NewPasswordHider" class="input-group-text" onclick="showPass('NewPassword')">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" onpaste="return false"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>