@{
    
    ViewBag.Title = "Password Change";
}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4>
                Your password is successfully changed.
            </h4>
            <div>
                <form method="post" asp-action="logout" asp-controller="account">
                    <button style="margin-left: -1rem !important;"  type="submit" class="btn btn-link">
                        Go to login page
                    </button>
                </form>
                <br />
                <a asp-action="AccountDetails">Back</a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>