@{
    
    ViewBag.Title = "Forgot Password";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4>
                If you have an account with us, we have sent an email
                with the instructions to reset your password.
            </h4>
            <br />
            <br />
            <p><a asp-controller="Account" asp-action="Login">Back to Login page</a></p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>