<div class="container">
    @{
        
        ViewBag.Title = "Forgot Password";
    }
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4>
                Your password is reset. Please click <a asp-action="Login">here to login</a>
            </h4>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>