@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <h1  class="text-center">About Us - At a Glance</h1>
    <br />
    <table class="table table-striped table-dark">

  <tbody>
    <tr>
      
      <td>Established</td>
      <td>8 July, 2000</td>
      
    </tr>
    <tr>
      
      <td>Total Area</td>
      <td>89.97 Acres</td>
      </tr>
      
       <tr>
      
      <td>Total Faculty</td>
      <td>9 Faculties</td>
      
    </tr>
     <tr>
      
      <td>Total Departments</td>
      <td>58 Departments</td>
      </tr>
      <tr>
      
      <td>Total Hall</td>
      <td>8 Halls</td>
      
    </tr>
   
    <tr>
      
      <td>Phone</td>
      <td>04427-56003</td>
      
    </tr>
    <tr>
      
      <td>Campus</td>
      <td>02 Main Campus (Dumki, Patuakhali), Outer Campus (Barishal, Babugong).</td>
      
    </tr>
    
 
   
      
      <tr>
      
      <td>Total Organization</td>
      <td>7 Organizations</td>
      
    </tr>
    <tr>
    <td>Total officers</td>
     <td>156 Officers</td>
    </tr>
     <tr>
    <td>Total Employees</td>
     <td>544 Employees</td>
    </tr>
     <tr>
    <td>Total Administrators	</td>
     <td>52 Administrators</td>
    </tr>
    
  </tbody>
</table>
}


