@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <h4 class=text-center >Undergraduate Admission Notice</h4>
    
    
    <br />
    <br />
    
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">মেধাস্কোরের ভিত্তিতে মেধাক্রম ও অপেক্ষমান তালিকা (সকল ইউনিট)</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
       
        <p class="card-text">Admission Result for undergraduate student (Session 2020-21)</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
       
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Cluster System Admission in Agricultural Degree offering Seven Public Universities of Bangladesh</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
      </div>
    </div>
  </div>
  

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">২০২০-২১ শিক্ষাবর্ষে GST (General, Science & Technology) গুচ্ছভুক্ত ২০ টি পাবলিক বিশ্ববিদ্যালয়ের সমন্বিত ভর্তি পরীক্ষা</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
      </div>
    </div>
  </div>
  </div>


  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Circular For Undergraduation addmission</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
      </div>
    </div>
  </div>
 
    

  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Circular For Postgraduation addmission</p>
        <a href="#" class="btn btn-primary">Jan 10, 2022 | 2 months ago</a>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
       
        <p class="card-text">Apply For Undergraduation Addmission</p>
        <a class="nav-link btn btn-primary text-dark" asp-area="" asp-controller="Undergraduation_Apply" asp-action="Index">APPLY NOW</a>
       
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
       
        <p class="card-text">Apply For Postgraduation Addmission</p>
        <a class="nav-link btn btn-primary text-dark" asp-area="" asp-controller="Postgraduation_Apply" asp-action="Index">APPLY NOW</a>
       
      </div>
    </div>
  </div>

  </div>
 

}
