@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
    </li>
    <li>
        <a asp-controller="Administration" asp-action="ListUsers">Manage Users</a>
    </li>
</ul>
