@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     <link rel="stylesheet" href="~/css/style.css" />

    <div>
    <img src="~/images/1532949393.jpg" style="height:300px; width:100%; z-index:-1;">
    </div>
    <div class="msgvc text-center">
    <ul>
    <li>
    <h4>About PSTU</h4>
    </li>
    <li>
    Home > History of CUET
    </li>
    </ul>
   </div>

   <section id="about" class="about">
        <div class="container">
          <div class="row no-gutters">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
            >
               <img class="d-block w-100" src="~/images/campus.jpg" style="height:400px;">
              
            </div>
            <div
              class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch"
            >
              <div class="content d-flex flex-column justify-content-center">
               <h4><u>History Of PSTU
               </u></h4>
               
               <br>
             
                  
               <p style="font-family:Arial, Helvetica, sans-serif"> 
              PSTU formally started functioning after promulgation of government gazette notification on 8 July 2000 with the campus of former Patuakhali Agricultural College as its nucleus. The university started with the Faculty of Agriculture offering four-year BSc Ag. (Hons.) degrees.


Academic building of main campus
The Patuakhali Science and Technology University was developed at the private initiative of the local people through the establishment of a higher secondary institute in 1972 as a private college. It was then turned to Patuakhali Agricultural College under the affiliation of Bangladesh Agricultural University (BAU), Mymensingh in 1979 with the objective of producing agricultural graduates offering the BSc.Ag. (Hons.) degree.

The college was nationalised on 1 February 1985 and was placed under the administrative control of the Bangladesh Agricultural Research Institute (BARI), Ministry of Agriculture together with BAU affiliation.

The government of Bangladesh launched a project to establish a science and technology university where none existed. The project advocated the transformation of Patuakhali Agricultural College into the full-fledged Patuakhali Science and Technology University that came into being through a Parliamentary Act passed on 12 July 2001.
               </p>

                
             
                  </div>
                </div>
            </div>
          </div>
       
      </section>

 
}
