@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/style.css" />

    <div>
    <img src="~/images/1532949393.jpg" style="height:300px; width:100%; z-index:-1;">
    </div>
    <div class="msgvc text-center">
    <ul>
    <li>
    <h5>About PSTU</h5>
    </li>
    <li>
    Home > Message from Vice-Chancellor
    </li>
    </ul>
   </div>
      <section id="about" class="about">
        <div class="container">
          <div class="row no-gutters">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
            >
               <img class="d-block w-100" src="~/images/vc.jpg" style="height:400px;">
              
            </div>
            <div
              class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch"
            >
              <div class="content d-flex flex-column justify-content-center">
               <h4>Professor Dr. Swadesh Chandra Samanta</h4>
               <h5>Vice Chancellor of Patuakhali Science and Technology University</h5>
               <ul>
               <li>Email: vc@pstu.ac.bd</li>
                <li>Cell No.: 01714075977</li>
               </ul>
               <br>
             
                  
               <p style="font-family:Arial, Helvetica, sans-serif"> <h4><u>Message</u></h4>
               I warmly welcome you to the Patuakhali Science and Technology University (PSTU). 

             It is one of the fast growing new public universities in Bangladesh. The university was inaugurated on 08 July 2000 by the then Hon’ble Prime Minister, Government of the People’s Republic of Bangladesh, Her Excellency Sheikh Hasina and started its academic activities on 26 February 2002. The main campus of the PSTU is located at  about 20 km north from the district town of Patuakhali and  about 38 km south from the divisional city of Barisal. The outer campus is situated at Babuganj under Barisal district.   Being the lone university in the south-western region of the country, the PSTU was established primarily to facilitate easy access to quality higher education to a populace who had been deprived of this prime right for a very long time since the independence of our beloved country.

               </p>

                
             
                  </div>
                </div>
            </div>
          </div>
       
      </section>

    
}