<div class="container-fluid">
<div class="row" style="margin-top:50px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5" style="text-align:center">Notice Horizontal Timeline</h4>

                <div class="hori-timeline" dir="ltr">
                    <ul class="list-inline events">
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-primary text-primary">2 June</div>
                                <h5 class="font-size-16">Event One</h5>
                                <p class="text-muted">Call for Applications 2 PhD Scholarships Available under Work Package 3 & 4 (WP3 & WP4)</p>
                                <div>
                                    <a href="https://pstu.ac.bd/admission/notices/call-for-applications-2-phd-scholarships-available-under-work-package-3-&-4-%28wp3-&-wp4%29" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-success text-success">5 June</div>
                                <h5 class="font-size-16">Event Two</h5>
                                <p class="text-muted">Supply and Installation of Computer and GIS Lab Equipment for CSA project at PSTU</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/supply-and-installation-of-computer-and-gis-lab-equipment-for-csa-project-at-pstu" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-danger text-danger">7 June</div>
                                <h5 class="font-size-16">Event Three</h5>
                                <p class="text-muted">Supply and Installation of Medical Equipment at PSTU for FY 2021-2022.</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/supply-and-installation-of-computer-and-gis-lab-equipment-for-csa-project-at-pstu" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-warning text-warning">8 June</div>
                                <h5 class="font-size-16">Event Four</h5>
                                <p class="text-muted">জরুরী নোটিশ ( ২০২১-২০২২ অর্থ বছরে উত্তোলিত অগ্রিম অর্থ সমন্বয় ও গ্রহন প্রসঙ্গে। )</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/%E0%A6%9C%E0%A6%B0%E0%A7%81%E0%A6%B0%E0%A7%80-%E0%A6%A8%E0%A7%8B%E0%A6%9F%E0%A6%BF%E0%A6%B6-%28-%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A7-%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A8-%E0%A6%85%E0%A6%B0%E0%A7%8D%E0%A6%A5-%E0%A6%AC%E0%A6%9B%E0%A6%B0%E0%A7%87-%E0%A6%89%E0%A6%A4%E0%A7%8D%E0%A6%A4%E0%A7%8B%E0%A6%B2%E0%A6%BF%E0%A6%A4-%E0%A6%85%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%BF%E0%A6%AE-%E0%A6%85%E0%A6%B0%E0%A7%8D%E0%A6%A5-%E0%A6%B8%E0%A6%AE%E0%A6%A8%E0%A7%8D%E0%A6%AC%E0%A7%9F-%E0%A6%93-%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%B9%E0%A6%A8-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%B8%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A7%87%E0%A5%A4-%29-1" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                            



                    </ul>
                </div>
                          

                 
                             <div class="hori-timeline" dir="ltr">
                    <ul class="list-inline events">
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-primary text-primary">19 June</div>
                                <h5 class="font-size-16">Event Five</h5>
                                <p class="text-muted">বিজ্ঞপ্তি ২০২২ ও  ২০২৩ র্টামের তফসিল  (ঋণ প্রদানের লক্ষ্যে সভা আহবান প্রসঙ্গে)</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/%E0%A6%AC%E0%A6%BF%E0%A6%9C%E0%A7%8D%E0%A6%9E%E0%A6%AA%E0%A7%8D%E0%A6%A4%E0%A6%BF-%28%E0%A6%8B%E0%A6%A3-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A6%E0%A6%BE%E0%A6%A8%E0%A7%87%E0%A6%B0-%E0%A6%B2%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A7%8D%E0%A6%AF%E0%A7%87-%E0%A6%B8%E0%A6%AD%E0%A6%BE-%E0%A6%86%E0%A6%B9%E0%A6%AC%E0%A6%BE%E0%A6%A8-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%B8%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A7%87%29" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-success text-success">20 June</div>
                                <h5 class="font-size-16">Event Six</h5>
                                <p class="text-muted">অফিসার   এসোসিয়েশন   নির্বাচন  প্রসঙ্গে ২০২২ ও  ২০২৩ র্টামের তফসিল  ( সংশোধিত বিজ্ঞপ্তি )</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/supply-and-installation-of-computer-and-gis-lab-equipment-for-csa-project-at-pstu" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-danger text-danger">22 June</div>
                                <h5 class="font-size-16">Event Seven</h5>
                                <p class="text-muted">Supply and Installation of Medical Equipment at PSTU for FY 2021-2022.</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/supply-and-installation-of-computer-and-gis-lab-equipment-for-csa-project-at-pstu" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <div class="event-date bg-soft-warning text-warning">27 June</div>
                                <h5 class="font-size-16">Event Eight</h5>
                                <p class="text-muted">জরুরী নোটিশ ( ২০২১-২০২২ অর্থ বছরে উত্তোলিত অগ্রিম অর্থ সমন্বয় ও গ্রহন প্রসঙ্গে। )</p>
                                <div>
                                    <a href="https://pstu.ac.bd/notices/%E0%A6%9C%E0%A6%B0%E0%A7%81%E0%A6%B0%E0%A7%80-%E0%A6%A8%E0%A7%8B%E0%A6%9F%E0%A6%BF%E0%A6%B6-%28-%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A7-%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A8-%E0%A6%85%E0%A6%B0%E0%A7%8D%E0%A6%A5-%E0%A6%AC%E0%A6%9B%E0%A6%B0%E0%A7%87-%E0%A6%89%E0%A6%A4%E0%A7%8D%E0%A6%A4%E0%A7%8B%E0%A6%B2%E0%A6%BF%E0%A6%A4-%E0%A6%85%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%BF%E0%A6%AE-%E0%A6%85%E0%A6%B0%E0%A7%8D%E0%A6%A5-%E0%A6%B8%E0%A6%AE%E0%A6%A8%E0%A7%8D%E0%A6%AC%E0%A7%9F-%E0%A6%93-%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%B9%E0%A6%A8-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%B8%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A7%87%E0%A5%A4-%29-1" class="btn btn-primary btn-sm">Read more</a>
                                </div>
                            </div>
                        </li>
                            



                    </ul>
                </div>









            </div>
        </div>
        <!-- end card -->
    </div>
</div>
</div>