@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    <div class="hhedar text-center" style="margin:50px">
    <h2 id="Un_Ad_No"><u>Undergradution Addmission Notice</u></h2>
    
    
    </div>




    <div class="container">
<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">09</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                        <span class="widget-49-meeting-time">5d Ago</span>
                           
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                        মেধাস্কোরের ভিত্তিতে মেধাক্রম ও অপেক্ষমান তালিকা (সকল ইউনিট)
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/%E0%A6%AE%E0%A7%87%E0%A6%A7%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%95%E0%A7%8B%E0%A6%B0%E0%A7%87%E0%A6%B0-%E0%A6%AD%E0%A6%BF%E0%A6%A4%E0%A7%8D%E0%A6%A4%E0%A6%BF%E0%A6%A4%E0%A7%87-%E0%A6%AE%E0%A7%87%E0%A6%A7%E0%A6%BE%E0%A6%95%E0%A7%8D%E0%A6%B0%E0%A6%AE-%E0%A6%93-%E0%A6%85%E0%A6%AA%E0%A7%87%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%AE%E0%A6%BE%E0%A6%A8-%E0%A6%A4%E0%A6%BE%E0%A6%B2%E0%A6%BF%E0%A6%95%E0%A6%BE-%28%E0%A6%B8%E0%A6%95%E0%A6%B2-%E0%A6%87%E0%A6%89%E0%A6%A8%E0%A6%BF%E0%A6%9F%29" class="btn btn-sm btn-flash-border-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-warning">
                            <span class="widget-49-date-day">13</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title"></span>
                            <span class="widget-49-meeting-time">3d Ago</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                        Admission Result for undergraduate student, Session 2020-21.
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/admission-result-for-undergraduate-student-%28session-2020-21%29" class="btn btn-sm btn-flash-border-warning">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-success">
                            <span class="widget-49-date-day">22</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title"></span>
                            <span class="widget-49-meeting-time">7d Ago</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                       Cluster System Admission in Agricultural Degree offering Seven Public Universities of Bangladesh
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/cluster-system-admission-in-agricultural-degree-offering-seven-public-universities-of-bangladesh" class="btn btn-sm btn-flash-border-success">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">27</span>
                            <span class="widget-49-date-month">Mar</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title"></span>
                            <span class="widget-49-meeting-time">10d Ago</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                       ২০২০-২১ শিক্ষাবর্ষে GST  গুচ্ছভুক্ত ২০ টি পাবলিক বিশ্ববিদ্যালয়ের
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A6-%E0%A7%A8%E0%A7%A7-%E0%A6%B6%E0%A6%BF%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%BE%E0%A6%AC%E0%A6%B0%E0%A7%8D%E0%A6%B7%E0%A7%87-gst-%28general,-science-&-technology%29-%E0%A6%97%E0%A7%81%E0%A6%9A%E0%A7%8D%E0%A6%9B%E0%A6%AD%E0%A7%81%E0%A6%95%E0%A7%8D%E0%A6%A4-%E0%A7%A8%E0%A7%A6-%E0%A6%9F%E0%A6%BF-%E0%A6%AA%E0%A6%BE%E0%A6%AC%E0%A6%B2%E0%A6%BF%E0%A6%95-%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A7%9F%E0%A7%87%E0%A6%B0-%E0%A6%B8%E0%A6%AE%E0%A6%A8%E0%A7%8D%E0%A6%AC%E0%A6%BF%E0%A6%A4-%E0%A6%AD%E0%A6%B0%E0%A7%8D%E0%A6%A4%E0%A6%BF-%E0%A6%AA%E0%A6%B0%E0%A7%80%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%BE" class="btn btn-sm btn-flash-border-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-warning">
                            <span class="widget-49-date-day">13</span>
                            <span class="widget-49-date-month">Mar</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title"></span>
                            <span class="widget-49-meeting-time">12d Ago</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                    Cluster System Admission in Agricultural Degree offering Seven Public Universities of Bangladesh
                        
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/cluster-system-admission-in-agricultural-degree-offering-seven-public-universities-of-bangladesh" class="btn btn-sm btn-flash-border-warning">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Addmission Notice</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-success">
                            <span class="widget-49-date-day">22</span>
                            <span class="widget-49-date-month">Jun</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title"></span>
                            <span class="widget-49-meeting-time">20d Ago</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                       ২০২০-২১ শিক্ষাবর্ষে GST (General, Science & Technology) গুচ্ছভুক্ত ২০ টি পাবলিক বিশ্ববিদ্যালয়ের
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://pstu.ac.bd/admission/notices/%E0%A7%A8%E0%A7%A6%E0%A7%A8%E0%A7%A6-%E0%A7%A8%E0%A7%A7-%E0%A6%B6%E0%A6%BF%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%BE%E0%A6%AC%E0%A6%B0%E0%A7%8D%E0%A6%B7%E0%A7%87-gst-%28general,-science-&-technology%29-%E0%A6%97%E0%A7%81%E0%A6%9A%E0%A7%8D%E0%A6%9B%E0%A6%AD%E0%A7%81%E0%A6%95%E0%A7%8D%E0%A6%A4-%E0%A7%A8%E0%A7%A6-%E0%A6%9F%E0%A6%BF-%E0%A6%AA%E0%A6%BE%E0%A6%AC%E0%A6%B2%E0%A6%BF%E0%A6%95-%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A7%9F%E0%A7%87%E0%A6%B0-%E0%A6%B8%E0%A6%AE%E0%A6%A8%E0%A7%8D%E0%A6%AC%E0%A6%BF%E0%A6%A4-%E0%A6%AD%E0%A6%B0%E0%A7%8D%E0%A6%A4%E0%A6%BF-%E0%A6%AA%E0%A6%B0%E0%A7%80%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%BE" class="btn btn-sm btn-flash-border-success">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="apply_button">
<div>
<button class="btn btn-info" id="apply_button1"><a class="nav-link text-dark" asp-area="" asp-controller="Undergraduation_Apply" asp-action="Create">APPLY NOW</a></button>
</div>
    
    <div>
    </div>

</div>










</div>
}
